@use 'base';
@import "./mixins.scss";

.modal {
  visibility: visible;
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;

  top: 0;
  left: 0;
  z-index: 200;
  transition: all 0.3s 0.2s;
  background-color: rgba($color: #000000, $alpha: 0.4);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1.5rem;
  }
}

.modal-content {
  width: 50%;
  height: 90%;
  margin: 0 auto;
  overflow: auto;
  top: 50%;
  left: 50%;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transform: translateY(5%);
  // transform: translate(50%, 25%);

  &:target {
    opacity: 1;
    visibility: visible;
  }
}

#thankyouContent {
  // transform: translate(50%, 80%);

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 3rem;
  width: 40%;
  height: 40%;
  transform: translateY(40%);

  & > p {
    color: #7a7a7a;
    text-align: center;
    margin-bottom: 2rem;
  }
}
